// app global css
.list-page
    max-width: 1024px
    padding: 0 8px
    margin: 0 auto

.author-link
  color: black
  text-decoration: none
  outline: none
  &:hover, &:focus
    text-decoration: underline
