// app global css
@import '~quasar-variables'

.page-frame
    max-width: 1024px
    padding: 0 16px
    margin: 0 auto

#title
    text-decoration: none
    color: white
    font-family: Impact
    font-size: 150%
    outline: none
    transition: opacity $button-transition
    &:hover, &:focus
        opacity: .7

#new-meme-preview {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100vh;
}

#dropbox {
    width: 100%; 
    position: relative;
}

#new-meme-input {
    position: absolute;
    width: inherit;
}

#new-meme-input input {
    position: static;
    height: inherit;
    width: 200%;
    opacity: 0;
    z-index: 2;
}

#new-meme-facade {
    position: relative;
}